*,*:before,*after{
    box-sizing: border-box;
}
*{
    transition: all .1s ease-in;
}
html{
    height: 100%;
}
html,
body{
    min-height: 100%;
}
h1,h2,
p{
    margin: 0 0 10px;
}
p:nth-child(2){
    opacity: 0.75;
}
.ba-after:after{
    content: 'ºC';
}
body{
    margin: 0;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
    line-height: 1.4;
    background-color:#2793CB;
    border: #2a82aa solid 15px;
    color:#FFFFFF;
}
.ba-header,
.ba-footer{
    margin-top: 20px;
    margin-bottom: 20px;
}
.ba-footer{
    font-size: 18px;
}
.ba-container{
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 20px;
}
.ba-cities{
    background: #fff;
    list-style: none;
    padding-left: 0;
    font-size: 0;
}
.ba-cities li{
    text-align: center;
    padding: 30px 10px;
    border: 2px solid #fff;
    font-size: 20px;
}
ul, li {
    display: inline-block;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
ul:hover > li{
    opacity: 0.6;
}
ul li:hover{
    opacity: 1;
}
.lisbon{
    background:#3399CC;
    width: 50%;
}
.paris{
    background:#33CCCC;
    width: 25%;
}
.belgrade{
    background:#996699;
    width: 25%;
}
.moscow{
    background:#C24747;
    width: 25%;
}
.telaviv{
    background:#E2674A;
    width: 25%;
}
.cair{
    background:#FFCC66;
    width: 25%;
}
.newyork{
    background:#99CC99;
    width: 25%;
}
.newdelhi{
    background:#669999;
    width: 25%;
}
.sanfrancisco{
    background:#CC6699;
    width: 50%;
}
.tokyo{
    background:#339966;
    width: 25%;
}
.sydney{
    background:#666699;
    width: 100%;
}
